body {
  min-width: 100vh;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}



@media screen and (max-width:1197px) {
  .laptop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

@media screen and (min-width:1198px) {
  .mobile-menu {
    display: none;
  }

  .laptop-menu {
    display: block;
  }
}