.menu-bar {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-weight: bolder;
  font-size: large;
  position: fixed;
  margin-left: 4rem;
  margin-left: 500px;
}

.menu {
  padding: 1.5rem;
}

.menu-item {
  display: inline;
  padding: 1rem;
  border-radius: 100%;
  margin: 1rem;
}

.menu-item:hover {
  background-color: rgb(218, 209, 209);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.menu-bar a:link,
.menu-bar a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.menu-bar a:hover {
  color: rgb(7, 8, 8);
  cursor: pointer;
}

.venkatesh-style {

  justify-content: center;
}