.menu-nar {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.name-style {
    display: inline;
}

.name {
    font-family: Babylonica, cursive;
    font-size: 4rem;
    font-size: x-large;
    display: inline;
    margin-left: 1.5rem;
}

.signature {
    display: inline;
}

.menu-option {
    /* display: inline-block; */
    margin-bottom: 20px;
    margin-top: 3rem;
    margin-right: 5rem;
    padding: 2px;
}

.monile-menu-options {
    background-color: aqua;
}