.name {
    font-family: Babylonica, cursive;
    color: rgb(16, 17, 16);
    /* font-size: 10rem; */
    display: inline;
}

.signature {
    display: inline;
    font-size: 5rem;
}

a {
    text-decoration: none;
}

.name a:link,
.name a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.name a:hover {
    color: rgb(7, 8, 8);
}



@media screen and (max-width:1199px) {
    .name-style {
        margin: 5rem;
    }

    .signature {
        font-size: 4rem;
    }

}